Importing Required Libraries

In [2]:
from sklearn.preprocessing import LabelEncoder

In [3]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix, accuracy_score

In [4]:
import pandas as pd

In [35]:
from sklearn.model_selection import cross_val_predict

In [33]:
from sklearn.metrics import precision_score, recall_score, f1_score, roc_auc_score

In [42]:
from sklearn.model_selection import GridSearchCV

In [5]:
credit = pd.read_csv('credit.csv')

In [6]:
credit

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_length,installment_rate,personal_status,other_debtors,...,property,age,installment_plan,housing,existing_credits,job,dependents,telephone,foreign_worker,default
0,< 0 DM,6,critical,radio/tv,1169,unknown,> 7 yrs,4,single male,none,...,real estate,67,none,own,2,skilled employee,1,yes,yes,1
1,1 - 200 DM,48,repaid,radio/tv,5951,< 100 DM,1 - 4 yrs,2,female,none,...,real estate,22,none,own,1,skilled employee,1,none,yes,2
2,unknown,12,critical,education,2096,< 100 DM,4 - 7 yrs,2,single male,none,...,real estate,49,none,own,1,unskilled resident,2,none,yes,1
3,< 0 DM,42,repaid,furniture,7882,< 100 DM,4 - 7 yrs,2,single male,guarantor,...,building society savings,45,none,for free,1,skilled employee,2,none,yes,1
4,< 0 DM,24,delayed,car (new),4870,< 100 DM,1 - 4 yrs,3,single male,none,...,unknown/none,53,none,for free,2,skilled employee,2,none,yes,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,unknown,12,repaid,furniture,1736,< 100 DM,4 - 7 yrs,3,female,none,...,real estate,31,none,own,1,unskilled resident,1,none,yes,1
996,< 0 DM,30,repaid,car (used),3857,< 100 DM,1 - 4 yrs,4,divorced male,none,...,building society savings,40,none,own,1,mangement self-employed,1,yes,yes,1
997,unknown,12,repaid,radio/tv,804,< 100 DM,> 7 yrs,4,single male,none,...,other,38,none,own,1,skilled employee,1,none,yes,1
998,< 0 DM,45,repaid,radio/tv,1845,< 100 DM,1 - 4 yrs,4,single male,none,...,unknown/none,23,none,for free,1,skilled employee,1,yes,yes,2
999,1 - 200 DM,45,critical,car (used),4576,101 - 500 DM,unemployed,3,single male,none,...,other,27,none,own,1,skilled employee,1,none,yes,1

In [7]:
credit.dtypes

checking_balance        object
months_loan_duration     int64
credit_history          object
purpose                 object
amount                   int64
savings_balance         object
employment_length       object
installment_rate         int64
personal_status         object
other_debtors           object
residence_history        int64
property                object
age                      int64
installment_plan        object
housing                 object
existing_credits         int64
job                     object
dependents               int64
telephone               object
foreign_worker          object
default                  int64
dtype: object

In [8]:
credit.isnull().sum()

checking_balance        0
months_loan_duration    0
credit_history          0
purpose                 0
amount                  0
savings_balance         0
employment_length       0
installment_rate        0
personal_status         0
other_debtors           0
residence_history       0
property                0
age                     0
installment_plan        0
housing                 0
existing_credits        0
job                     0
dependents              0
telephone               0
foreign_worker          0
default                 0
dtype: int64

In [9]:
credit.describe()

,months_loan_duration,amount,installment_rate,residence_history,age,existing_credits,dependents,default
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,20.903000,3271.258000,2.973000,2.845000,35.546000,1.407000,1.155000,1.300000
std,12.058814,2822.736876,1.118715,1.103718,11.375469,0.577654,0.362086,0.458487
min,4.000000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000,1.000000
25%,12.000000,1365.500000,2.000000,2.000000,27.000000,1.000000,1.000000,1.000000
50%,18.000000,2319.500000,3.000000,3.000000,33.000000,1.000000,1.000000,1.000000
75%,24.000000,3972.250000,4.000000,4.000000,42.000000,2.000000,1.000000,2.000000
max,72.000000,18424.000000,4.000000,4.000000,75.000000,4.000000,2.000000,2.000000

In [10]:
credit['savings_balance'].value_counts()

< 100 DM         603
unknown          183
101 - 500 DM     103
501 - 1000 DM     63
> 1000 DM         48
Name: savings_balance, dtype: int64

Pre-Processing

In [11]:
#Following are the string  type columns so we need to convert them.
categorical_cols = ['checking_balance', 'credit_history', 'purpose', 'savings_balance', 'employment_length', 'personal_status', 'other_debtors', 'property', 'installment_plan', 'housing', 'job', 'telephone', 'foreign_worker']

In [12]:
le = LabelEncoder()
for col in categorical_cols:
    credit[col] = le.fit_transform(credit[col])

In [13]:
credit

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_length,installment_rate,personal_status,other_debtors,...,property,age,installment_plan,housing,existing_credits,job,dependents,telephone,foreign_worker,default
0,1,6,0,7,1169,4,3,4,3,2,...,2,67,1,1,2,1,1,1,1,1
1,0,48,4,7,5951,2,1,2,1,2,...,2,22,1,1,1,1,1,0,1,2
2,3,12,0,4,2096,2,2,2,3,2,...,2,49,1,1,1,3,2,0,1,1
3,1,42,4,5,7882,2,2,2,3,1,...,0,45,1,0,1,1,2,0,1,1
4,1,24,1,1,4870,2,1,3,3,2,...,3,53,1,0,2,1,2,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,12,4,5,1736,2,2,3,1,2,...,2,31,1,1,1,3,1,0,1,1
996,1,30,4,2,3857,2,1,4,0,2,...,0,40,1,1,1,0,1,1,1,1
997,3,12,4,7,804,2,3,4,3,2,...,1,38,1,1,1,1,1,0,1,1
998,1,45,4,7,1845,2,1,4,3,2,...,3,23,1,0,1,1,1,1,1,2
999,0,45,0,2,4576,0,4,3,3,2,...,1,27,1,1,1,1,1,0,1,1

In [14]:
credit.shape

(1000, 21)

In [15]:
credit_train = credit.sample( 900, random_state = 12)

In [16]:
credit_test = credit.drop(credit_train.index)

In [17]:
(credit.default.value_counts()/credit_test.default.count()) * 100

1    700.0
2    300.0
Name: default, dtype: float64

In [18]:
train_labels = credit_train.default
test_labels = credit_test.default

In [19]:
credit_test.default

25     1
49     1
58     1
60     1
74     2
      ..
949    2
957    1
958    2
963    2
994    1
Name: default, Length: 100, dtype: int64

Model-Building

In [20]:
clf = DecisionTreeClassifier(criterion='entropy')

In [21]:
clf.fit(credit_train.iloc[:, :-1], train_labels)

DecisionTreeClassifier(criterion='entropy')

Model-Testing

In [22]:
predictions = clf.predict(credit_test.iloc[:, :-1])

In [23]:
predictions

array([1, 2, 1, 1, 1, 2, 1, 1, 2, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 2, 1, 1,
       1, 2, 2, 1, 2, 1, 1, 2, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2,
       2, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1,
       1, 2, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1], dtype=int64)

Confusion Matrix

In [24]:
confusion_matrix(test_labels,predictions)

array([[57, 16],
       [18,  9]], dtype=int64)

Simple Accuracy

In [26]:
accuracy_score(test_labels, predictions) *100

66.0

Precision, Recall and F1-Score

In [30]:
#Precision Score
precision_score(test_labels, predictions)

0.76

In [31]:
#Recall score
recall_score(test_labels, predictions)

0.7808219178082192

In [32]:
#F1 score
f1_score(test_labels, predictions)

0.7702702702702703

In [34]:
#Auc
roc_auc_score(test_labels, predictions)

0.5570776255707762

Cross-Validation

In [36]:
y_pr = cross_val_predict(clf, credit_train, train_labels, cv =5)

In [37]:
confusion_matrix(train_labels, y_pr)

array([[627,   0],
       [  0, 273]], dtype=int64)

In [38]:
precision_score(train_labels, y_pr)

1.0

In [39]:
recall_score(train_labels, y_pr)

1.0

In [40]:
f1_score(train_labels, y_pr)

1.0

Tuning the model

Grid Search
We can pass it parameters and the algorithm.
It will find out the best combination of parameters, by building a number of different models
For Ex: if we give it 3 different parameters with 2 possible values of each, then it will build 8(2*2*2) models

In [45]:
#Set of parameters that we would like to tune and their possible values.
params = {'max_leaf_nodes' : list(range(2,10)),
         'min_samples_split' : [2,3,4]}
#8*3 = 24 number of models

In [46]:
grid_search_cv = GridSearchCV(DecisionTreeClassifier(random_state = 42),
                             params,
                             verbose=1,
                             cv=3)

grid_search_cv.fit(credit_train, train_labels)

Fitting 3 folds for each of 24 candidates, totalling 72 fits

GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=42),
             param_grid={'max_leaf_nodes': [2, 3, 4, 5, 6, 7, 8, 9],
                         'min_samples_split': [2, 3, 4]},
             verbose=1)

In [48]:
grid_search_cv.best_params_

{'max_leaf_nodes': 2, 'min_samples_split': 2}

In [50]:
#Accuracy Score
y_pred = grid_search_cv.predict(credit_test)

In [51]:
accuracy_score(test_labels, y_pred)

1.0